{% extends 'AppBundle::template.html.twig' %}

{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Ingrediente<small>Elenco</small></h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Ingrediente</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="callout callout-info lead {{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="box box-primary">

                <div class="box-header">
                    <h4 class="box-title"></h4>
                    <div class="box-tools pull-right">
                        <a href="{{ path('app_bundle.ingrediente.new') }}" class="btn btn-primary">Nuovo ingrediente</a>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->

                <div class="box-body">

                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, '#', 'i.id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Nome', 'i.nome') }}</th>
                            <th>Descrizione</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Data creazione', 'i.dataCreazione') }}</th>
                            <th>Azioni</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ingrediente in pagination %}
                        <tr>
                            <td>{{ ingrediente.id }}</td>
                            <td><a href="{{ path('app_bundle.ingrediente.edit', { 'slug': ingrediente.slug }) }}">{{ ingrediente.nome }}</a></td>
                            <td>{{ ingrediente.descrizione }}</td>
                            <td>{{ ingrediente.dataCreazione|date('d-m-Y H:s') }}</td>
                            <td>
                                <ul class="list-inline">
                                    <li><a href="{{ path('app_bundle.ingrediente.edit', { 'slug': ingrediente.slug }) }}"><i title="Modifica" class="fa fa-pencil"></i></a></li>
                                    <li><a href="{{ path('app_bundle.ingrediente.delete', { 'id': ingrediente.id }) }}" onclick="return confirm('Sei sicuro di voler cancellare la ingrediente?');"><i title="Cancella" class="fa fa-trash-o"></i></a></li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <nav class="navigation pull-right">
                        {{ knp_pagination_render(pagination) }}
                    </nav>

                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}